/* Buttons */
button {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: rgba(90, 75, 150, 255);
    transform: scale(1.05);
}

/* Container Sets */
.container-set {
    display: none;
    margin-top: 20px;
}

.container {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}
